@import '../../assets/scss/ui-kit.scss';

.landing-page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section-1-volume-mute {
    fill: white;
    position: fixed;
    bottom: 5vh;
    right: 10vw;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
    transition: .3s;
    z-index: 100;

    #unmute {
        opacity: 0;
        transition: .3s;
    }

    &.unmute {
        #unmute {
            opacity: 1 !important;
            transition: .3s;
        }

        #mute {
            opacity: 0 !important;
            transition: .3s;
        }
    }
}

.section-1-toggle {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    height: 3vh;
    width: auto;
    cursor: pointer;
    transition: 0;
    z-index: 100;
}

.landing-section-1 {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 15vw 1fr 1fr 10vw;
    grid-template-rows: 2fr 0.8fr 1fr 1.25fr 3fr;
    position: relative;
    background: #333333;

    .section-1-background {
        height: 100%;
        width: auto;
        top: 0;
        left: 0;
        grid-area: 1 / 1 / 6 / 4;
        pointer-events: none;
        display: none;
    }

    .section-1-slogan-1 {
        grid-area: 2 / 2 / 3 / 3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .slogan-1-sig {
            color: $sig-yellow;
            font-size: 1.5rem;
        }

        .slogan-1-diff {
            color: white;
            font-size: 2.5rem;
            font-weight: 700;
        }
    }

    .section-1-slogan-2 {
        grid-area: 3 / 2 / 4 / 3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 1.5rem;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .slogan-2-sig {
            color: $sig-yellow;
            font-size: 1.5rem;
        }

        .slogan-2-diff {
            border: 1px solid white;
            font-size: 4.5rem;
            font-family: 'Tangerine', cursive;
            padding: 8px 80px;
        }
    }

    .section-1-button {
        grid-area: 4 / 2 / 5 / 3;
        background-color: $sig-yellow;
        color: black;
        font-family: 'Montserrat', sans-serif;
        border-radius: 50px;
        font-size: 1.5rem;
        font-weight: 500;
        bottom: 0;
    }

    .section-1-blob {
        grid-area: 2 / 3 / 5 / 4;
        align-self: center;
        justify-self: center;
    }

    .section-1-panel {
        grid-area: 1 / 2 / 6 / 3;
        height: 70vh;
        width: 105%;
        position: absolute;
        bottom: 15vh;
        right: 2.5%;
        z-index: 1000;
        background-color: $sig-yellow;
        transform: scaleX(0) scaleY(0);
        -webkit-transform: scaleX(0) scaleY(.01);
        transform-origin: left bottom;
        -webkit-transform-origin: left bottom;
        display: flex;
        justify-content: center;
        align-items: center;

        .section-1-gif {
            transform: scaleX(calc(20 / 13));
            -webkit-transform: scaleX(calc(20 / 13));
            opacity: 0;
            width: 52%;
        }
    }

    .section-1-panel-2 {
        grid-area: 5 / 2 / 6 / 3;
        height: 50px;
        width: 105%;
        position: absolute;
        bottom: 15vh;
        right: 2.5%;
        z-index: 1000;
        background-color: white;
        transform: scaleX(0) scaleY(0);
        -webkit-transform: scaleX(1) scaleY(.1);
        transform-origin: left bottom;
        -webkit-transform-origin: left bottom;
    }

    .section-1-intro-h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        color: $sig-yellow;
        grid-area: 2 / 2 / 3 / 3;
        position: absolute;
        bottom: 0;
        margin-left: 2.5vw;
        z-index: 10;

        .section-1-intro-hands {
            height: 5vh;
            width: 5vh;
            animation: wave 1s infinite alternate ease-out;
        }

        @keyframes wave {
            0% {
                transform: rotate(0deg);
            }
            15% {
                transform: rotate(30deg);
            }
            30% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
    }

    .section-1-intro-p-1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 45px;
        grid-area: 3 / 2 / 4 / 3;
        margin-left: 2.5vw;
        color: white;
        position: absolute;
        bottom: 3vh;
        z-index: 10;
        
        .section-1-intro-p-sig-yellow {
            color: $sig-yellow;
            font-size: 1.25rem;
        }
    }

    .section-1-intro-p-2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 45px;
        grid-area: 4 / 2 / 5 / 3;
        margin-left: 2.5vw;
        color: white;
        z-index: 10;
        
        .section-1-intro-p-sig-yellow {
            color: $sig-yellow;
            font-size: 1.25rem;
        }
    }
    
    .section-1-avt {
        grid-area: 2 / 3 / 6 / 4;
        height: auto;
        width: 70%;
        position: absolute;
        top: -5vh;
        left: 10%;
        z-index: 10;
        transform: translateY(150px);
    }

    .section-1-github-icon-container {
        grid-area: 2 / 2 / 3 / 3;
        height: 60vh;
        width: 60vh;
        border-radius: 50%;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .2);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -15vh;
        bottom: -300%;
        pointer-events: none;

        .section-1-github-icon {
            fill: black;
            height: 3vh;
            width: 3vh;
            z-index: 1;
            border-radius: 50%;
            padding: 2vh;
            background-color: white;
            cursor: pointer;
            transition: .3s ease-in-out;
            pointer-events: auto;

            &.section-1-github-icon:hover {
                padding: 2.5vh;
                transition: .3s ease-in-out;
                cursor: crosshair;
            }
        }
    }

    .section-1-gmail-icon-container {
        grid-area: 3 / 1 / 4 / 2;
        height: 40vh;
        width: 40vh;
        border-radius: 50%;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .2);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: calc(15vw - 25vh);
        top: -100%;

        .section-1-gmail-icon {
            fill: #CC3D2F;
            height: 3vh;
            width: 3vh;
            z-index: 1;
            border-radius: 50%;
            padding: 2vh;
            background-color: white;
            cursor: pointer;
            transition: .3s ease-in-out;

            &.section-1-gmail-icon:hover {
                padding: 2.5vh;
                transition: .3s ease-in-out;
                cursor: crosshair;
            }
        }
    }

    .section-1-linkedin-icon-container {
        grid-area: 5 / 2 / 6 / 3;
        height: 40vh;
        width: 40vh;
        border-radius: 50%;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .2);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0vw;
        top: -40%;

        .section-1-linkedin-icon {
            fill: #0A66C2;
            height: 3vh;
            width: 3vh;
            z-index: 1;
            border-radius: 50%;
            padding: 2vh;
            background-color: white;
            cursor: pointer;
            transition: .3s ease-in-out;

            &.section-1-linkedin-icon:hover {
                padding: 2.5vh;
                transition: .3s ease-in-out;
                cursor: crosshair;
            }
        }
    }

    .section-1-fav-1 {
        grid-area: 2 / 2 / 3 / 3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: fit-content;
        position: absolute;
        bottom: 1.5vh;
        left: 0;

        .fav-1-sig {
            color: $sig-yellow;
            font-size: 1.5rem;
        }
    }

    .section-1-fav-panel-container {
        grid-area: 3 / 2 / 5 / 3;
        background-color: transparent;
        height: 100%;
        width: 120%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        position: absolute;

        .section-1-fav-panel:nth-child(1) {
            grid-area: 1 / 1 / 2 / 2;
        }

        .section-1-fav-panel:nth-child(2) {
            grid-area: 1 / 2 / 2 / 3;
        }

        .section-1-fav-panel:nth-child(3) {
            grid-area: 1 / 3 / 2 / 4;
        }

        .section-1-fav-panel {
            background-color: $sig-yellow;
            max-height: 27.95vh;
            width: 22vh;
            height: 22vh;
            border-radius: 25px;
            margin: 0;
            padding: 0;
            justify-self: self-start;
            align-self: center;
            display: grid;
            grid-template-rows: 20% .8fr 2fr 1fr 10%;
            grid-template-columns: 14% 1fr 2fr 1fr 10%;
            position: relative;

            .fav-panel-icon {
                grid-area: 2 / 2 / 3 / 3;
                position: absolute;
                top: 0;
                left: 0;
                height: 80%;
                width: auto;
            }

            .fav-panel-text {
                grid-area: 3 / 2 / 4 / 5;
                align-self: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                line-height: 28px;
            }

            .fav-panel-next {
                grid-area: 4 / 4 / 5 / 5;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 80%;
                width: auto;
                cursor: pointer;

                path {
                    pointer-events: none;
                }
            }
        }
    }

    .section-1-fav-button {
        grid-area: 5 / 2 / 6 / 3;
        background-color: $sig-yellow;
        color: black;
        font-family: 'Montserrat', sans-serif;
        border-radius: 50px;
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 6vh;
    }
}

.section-1-fav-details {
    height: 100vh;
    width: 40vw;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: $sig-yellow;
    right: 0;
    top: 0;
    z-index: 1000;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: right;
    -webkit-transform-origin: right;
    -webkit-box-shadow: -10px 10px 6px 8px rgba(0,0,0,0.25); 
    box-shadow: -10px 10px 6px 8px rgba(0,0,0,0.25);

    .fav-details {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;

        .fav-details-panel {
            height: 55%;
            width: 70%;
            background-color: #333333;
            transform: scaleX(.01);
            -webkit-transform: scaleX(.01);
            transform-origin: right;
            -webkit-transform-origin: right;
            display: flex;
            flex-direction: column;

            .fav-details-panel-text {
                margin: 25% 0 0 15%;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 1.6rem;
                color: white;
            }

            .fav-details-panel-icons-con {
                margin: 1.5vh 0 0 15%;
                height: fit-content;
                width: 24vh;
                display: flex;
                flex-wrap: wrap;

                .fav-details-panel-icon {
                    height: 4vh;
                    width: 4vh;
                    margin: 1.25vh 2vh 1.25vh 0;
                }
            }

            .fav-details-panel-button {
                position: static;
                height: fit-content;
                width: fit-content;
                margin: 7vh 0 0 15%;
                border-radius: 25px;

            }
        }

        .fav-details-close {
            height: 4vh;
            width: 4vh;
            position: absolute;
            right: 15%;
            bottom: 15%;
            cursor: pointer;
            pointer-events: none;
        }

        &.details-should-display {
            display: flex;
        }

        &.details-should-hide {
            display: none;
        }

    } 
}

.fav-details-panel-items-set-1, .fav-details-panel-items-set-2, .fav-details-panel-items-set-3{
    opacity: 0;
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
}

.landing-section-2 {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.stage-2 { 
    opacity: 0;
    pointer-events: none;
}

.stage-3 {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
}
