@import '../../assets/scss/ui-kit.scss';

* { 
    ::-webkit-scrollbar {
        width: 8px;               /* width of the entire scrollbar */
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #333333;     /* color of the tracking area */
        border: none;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: $sig-yellow;    /* color of the scroll thumb */
        border: none;
        border-radius: 15px;
    }
}

.landing-page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section-1-volume-mute {
    fill: white;
    position: fixed;
    bottom: 5vh;
    right: 10vw;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
    transition: .3s;
    z-index: 100;

    #unmute {
        opacity: 0;
        transition: .3s;
    }

    &.unmute {
        #unmute {
            opacity: 1 !important;
            transition: .3s;
        }

        #mute {
            opacity: 0 !important;
            transition: .3s;
        }
    }
}

.section-1-toggle {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    height: 3vh;
    width: auto;
    cursor: pointer;
    transition: 0;
    z-index: 100;
}

.landing-section-1 {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 15vw 1fr 1fr 10vw;
    grid-template-rows: 2fr 0.8fr 1fr 1.25fr 3fr;
    position: relative;
    background: #333333;

    .section-1-background {
        height: 100%;
        width: auto;
        top: 0;
        left: 0;
        grid-area: 1 / 1 / 6 / 4;
        pointer-events: none;
        display: none;
    }

    .section-1-slogan-1 {
        grid-area: 2 / 2 / 3 / 3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .slogan-1-sig {
            color: $sig-yellow;
            font-size: 1.5rem;
        }

        .slogan-1-diff {
            color: white;
            font-size: 2.5rem;
            font-weight: 700;
        }
    }

    .section-1-slogan-2 {
        grid-area: 3 / 2 / 4 / 3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 1.5rem;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .slogan-2-sig {
            color: $sig-yellow;
            font-size: 1.5rem;
        }

        .slogan-2-diff {
            border: 1px solid white;
            font-size: 4.5rem;
            font-family: 'Tangerine', cursive;
            padding: 8px 80px;
        }
    }

    .section-1-button {
        grid-area: 4 / 2 / 5 / 3;
        background-color: $sig-yellow;
        color: black;
        font-family: 'Montserrat', sans-serif;
        border-radius: 50px;
        font-size: 1.5rem;
        font-weight: 500;
        bottom: 0;
    }

    .section-1-blob {
        grid-area: 2 / 3 / 5 / 4;
        align-self: center;
        justify-self: center;
    }

    .section-1-panel {
        grid-area: 1 / 2 / 6 / 3;
        height: 70vh;
        width: 105%;
        position: absolute;
        bottom: 15vh;
        right: 2.5%;
        z-index: 1000;
        background-color: #FFB72C;
        transform: scaleX(0) scaleY(0);
        -webkit-transform: scaleX(0) scaleY(.01);
        transform-origin: left bottom;
        -webkit-transform-origin: left bottom;
    }

    .section-1-panel-2 {
        grid-area: 5 / 2 / 6 / 3;
        height: 50px;
        width: 105%;
        position: absolute;
        bottom: 15vh;
        right: 2.5%;
        z-index: 1000;
        background-color: white;
        transform: scaleX(0) scaleY(0);
        -webkit-transform: scaleX(1) scaleY(.1);
        transform-origin: left bottom;
        -webkit-transform-origin: left bottom;
    }
}

.landing-section-2 {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.stage-1 { 
    display: none !important; //temporary
}
