$sig-yellow: #D79922;
$sig-yellow-light: #FFB72C;
$sig-cyan: #00C2FF;
$sig-dark: #333333;
$sig-pink: #E73F7F;

// @font-face {
//     font-family: 'montserrat-italic';
//     src: url(../fonts/montserrat/Montserrat-Italic-VF.ttf);
// }


* { 
    ::-webkit-scrollbar {
        width: 8px;               /* width of the entire scrollbar */
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-track {
        background-color: $sig-dark;     /* color of the tracking area */
        border: none;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: $sig-yellow;    /* color of the scroll thumb */
        border: none;
        border-radius: 15px;
    }
}

@font-face {
    font-family: 'playfair';
    src: url(../fonts/playfair/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'playfair-italic';
    src: url(../fonts/playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf)
}