$sig-yellow: #FFB72C;
$sig-cyan: #00C2FF;

// @font-face {
//     font-family: 'montserrat';
//     src: url(../fonts/montserrat/Montserrat-VF.ttf)
// }

// @font-face {
//     font-family: 'montserrat-italic';
//     src: url(../fonts/montserrat/Montserrat-Italic-VF.ttf);
// }

@font-face {
    font-family: 'playfair';
    src: url(../fonts/playfair/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'playfair-italic';
    src: url(../fonts/playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf)
}