@import '../../assets/scss/ui-kit.scss';

.header {
    height: 12.5vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: $sig-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999999999;

    .header-logo {
        color: $sig-yellow;
        font-size: 1.5rem;
        font-weight: lighter;
        cursor: pointer;
        margin-left: 5vw;
        font-family: playfair;
        z-index: 10;
    }
    
    .header-nav-container {
        margin-right: 5vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 10;

        .header-open {
            fill: white;
            margin-left: 1vw;
            cursor: pointer;
        }
    }

    .menu {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: $sig-yellow;
        margin: 0;
        padding: 0;
        overflow: 0;
        transform: scale(0.9) translateY(-100vh);
        -webkit-transform: scale(0.9) translateY(-100vh);
        transform-origin: top;
        -webkit-transform-origin: top;
        
        &.-active {
            .nav-item:nth-child(1) {
                padding: 16px 36px;
                border: 2px solid black;
            }
            
            .nav-item:nth-child(2), .nav-item:nth-child(3), .nav-item:nth-child(4), .nav-item:nth-child(5) {
                padding: 0;
                border: none;
            }
        }

        &.work-active {
            .nav-item:nth-child(2) {
                padding: 16px 36px;
                border: 2px solid black;
            }
            
            .nav-item:nth-child(1), .nav-item:nth-child(3), .nav-item:nth-child(4), .nav-item:nth-child(5) {
                padding: 0;
                border: none;
            }
        }

        &.skills-active {
            .nav-item:nth-child(3) {
                padding: 16px 36px;
                border: 2px solid black;
            }
            
            .nav-item:nth-child(1), .nav-item:nth-child(2), .nav-item:nth-child(4), .nav-item:nth-child(5) {
                padding: 0;
                border: none;
            }
        }

        a {
            text-decoration: none;
            width: fit-content;
        }
        
        .nav-container {
            margin: 0;
            padding: 0;
            width: 30vw;
            height: 100%;
            border-right: 4px solid black;
            display: flex;
            flex-direction: column;
            background: transparent;

            .nav-item {
                font-size: 1.5rem;
                color: black;
                font-family: 'Montserrat', sans-serif;
                margin: 0 0 5vh 15vw;
                transition: .3s;

                &.nav-item:nth-child(1) {
                    margin-top: 20vh;
                }

                &.nav-item:hover {
                    color: $sig-pink;
                    transition: .3s;
                }
            }
        }

        .nav-decor {
            margin: 0;
            background: 0;
            background: black;
            height: 100vh;
            width: 100vh;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: -50vh;
        }
    }
}